* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 500;
    color: #555;
}
/*nav*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    height: 60px;
}
#signinbtn {
    border: 1px solid #155DFC;
    font-size: 14px;
    text-decoration: none;
    color: white;
    outline: none;
    background-color: #155DFC;
    padding: 7px 12px;
    border-radius: 20px;
    margin-left: 7px;
    cursor: pointer;
}
button {
    text-decoration: none;
}
ul {
    display: flex;
    list-style: none;
    align-items: center;
}
li {
    font-family: arial, sans-serif;
    padding: 14px 12px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.apps__menu--bg {
    width: 40px;
    height: 40px;
}
.google__apps--btn {
    width: 15px
}
.apps__menu--bg:hover {
    background-color: #D4D4D8;
    border-radius: 50%;
    cursor: pointer;
}
/*search section*/
.googlelogo {
    width: 290px;
    margin-top: 200px;
    margin-bottom: 30px;
}
.google__search {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    position: relative;
}
input {
    width: 600px;
    height: 50px;
    padding-left: 50px;
    font-size: 1.5rem;
    border-radius: 45px;
    border: 1px solid #d4d4d8;
}
input:hover {
    box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 1);
}
input:focus {
    outline: none;
}
.google__search--icon {
    width: 22px;
    position: absolute;
    top: 15px;
    left: 15px;
}
.google__vs--icon {
    width: 20px;
    position: absolute;
    top: 15px;
    left: 550px;
}
.google__is--icon {
    width: 30px;
    position: absolute;
    top: 9px;
    left: 560px;

}
.google__search--btn {
    width: 350px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.button-search {
    border: 1px solid transparent;
    padding: 8px 12px;
    background-color: #f8f9fa;
    border-radius: 5px;
}
.button-search:hover {
    border: 1px solid #eee;
    box-shadow: 0 0 2px 1px rgba(189, 189, 189, 0.5);
    cursor: pointer;
}
footer {
    width: 100%;
    background-color: #f2f2f2;
}
.panel {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-top: 415px;
}
.leaf {
    width: 15px
}
.panel__center {
    font-family: arial, sans serif;
}